html {
  overscroll-behavior: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  overscroll-behavior: none;
}

.navigation {
  top: 0;
  z-index: 4;
  display: flex;
  position:fixed;
  background: linear-gradient(to bottom,
    rgba(0, 0, 0) 10%,
    rgba(0, 0, 0, 0.75) 95%,
    transparent);
  width: calc(100% - 100px);
  height: 65px;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.logo {
  opacity: 75%;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  transition: .5s;
}
.logo:hover {
  opacity: 1;
}
.nav-item {
  width: 45px;
  display: inline-block;
  text-decoration: none;
  color:rgba(69, 205, 255, 0.4);
  font-family: JetBrains mono;
  font-weight: 300;
  transition: .5s;
  text-align: center;
}
.nav-item:hover {
  opacity: 1;
  color:rgb(182, 236, 255);
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.heading1 {
  margin-top: auto;
  display: flex;
}
.title1 {
  margin: 0 0 0 150px;
  flex: 1;
  font-family: chivo;
  color: white;
  font-weight: 400;
  font-size: 4vw;
  font-style: italic;
  display: inline;
}
.heading2 {
  display: flex;
  margin: 0 0 25px 150px;
  width: calc(100% - 300px);
  justify-content: space-between;
  align-items: baseline;
}
.title2 {
  font-family: chivo;
  color: white;
  font-weight: 400;
  font-size: 9vw;
  margin: 0;
  display: inline;
}
.blurb {
  width: fit-content;
  color:rgb(182, 236, 255);
  font-family: chivo;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.arrow {
  width: fit-content;
  color:rgb(182, 236, 255);
  font-family: JetBrains mono;
  font-size: 1rem;
  font-weight: 200;
  margin: 0;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image {
  width: calc(100% - 300px);
  object-fit: cover;
  margin: 0 0 50px 150px;
  border-radius: 20px;
}
.image2 {
  width: calc(100% - 300px);
  object-fit: cover;
  margin: 100px 0 50px 150px;
  border-radius: 20px;
}

.footer {
  height: 50px;
  margin: 0px 50px 0px 50px;
  padding-top: 20px;
  background-color: rgb(0, 0, 0);
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.credits, .gmail {
  font-family: chivo;
  color:rgba(69, 205, 255, 0.4);
  font-weight: 300;
  margin-top: 0;
  display: inline-block;
  text-decoration: none;
  transition: .5s;
}
.gmail:hover {
  color: rgb(182, 236, 255);
}
